.slider
    .slide-group
        .slide.slide-1 
            h1 01
        .slide.slide-2
            h1 02
        .slide.slide-3
            h1 03
        .slide.slide-4
            h1 04
        .slide.slide-5
            h1 05
        .slide.slide-6
            h1 06
        .slide.slide-7
            h1 07
.slide-buttons
    .button-left 
    .button-right     


// buttons in the bottom of the slider group